﻿@model BibliotecaWeb.Models.ViewModels.LibroViewModel
@{
    ViewBag.Title = "Agregar libro";
    Layout = "~/Views/Shared/LayoutAdministrador.cshtml";

    var vAutor = ViewBag.vEditorial as IEnumerable<SelectList>; //new SelectList(.Value, ViewBag.vAutor.Text)
}

<div class="row">
    <div class="col-md-10">
        @using (Html.BeginForm("Add", "Libros", FormMethod.Post, new { role = "form", enctype="multipart/form-data" }))
        {
            <h3>Agregar libro</h3>
            @Html.AntiForgeryToken();
            <div class="col-md-6">
                @Html.LabelFor(l => l.Nombre)
                @Html.TextBoxFor(l => l.Nombre, new { @class = "form-control text-danger" })
                @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.LabelFor(l => l.FechaAdquirido)
                @Html.TextBoxFor(l => l.FechaAdquirido, new { @class = "form-control text-danger datePicker" })
                @Html.ValidationMessage("Fecha adquirido", new { @class = "text-danger" })
            </div>


            <div class="col-md-6">
                <label>Autor</label>
                <select class="form-control" name="_Autor">
                    <option value="A0">Seleccione</option>
                    @foreach (var iAutor in ViewBag.vAutor)
                    {
                        <option value="@iAutor.Id_autor">@iAutor.Nombre</option>
                    }
                </select>

                @Html.ValidationMessage("Autor", new { @class = "text-danger" })
            </div>

            <div class="col-md-6"> 
                <label>Editorial</label>
                <select class="form-control" name="_Editorial">
                    <option value="A0">Seleccione</option>
                    @foreach (var item in ViewBag.vEditorial)
                    {
                        <option value="@item.Id_editorial">@item.Nombre</option>
                    }
                </select>

                @Html.ValidationMessage("Autor", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">

                <label>Generos literarios</label>
                <br />
                @foreach (var lGenero in ViewBag.vGenero)
                {
                <label>
                    <input type="checkbox" value="@lGenero.Id_Genero" name="_generoLiterario">
                    @lGenero.Nombre
                </label>        
                }




            </div>

            <div class="col-md-6">
                @Html.LabelFor(l => l.Portada)
                <input class="text-danger" type="file" accept="image/png, image/jpeg, image/jpg" id="fileInput" name="portada"/> 
            </div>

            <div class="col-md-10">
                @Html.LabelFor(l => l.Observacion)
                @Html.TextAreaFor(l => l.Observacion, new { @class = "form-control text-danger" })
                @Html.ValidationMessage("Observacion", new { @class = "text-danger" })
            </div>

            <div class="col-md-12">
                <br />
                <button class="btn btn-success" type="submit"> Agregar</button>
            </div>
        }
    </div>
</div>

 

@section scripts{
    <script>

        $(document).ready(function () {
            console.log(":v");
            var nLista = "";
            $(".datePicker").datepicker({
                changeYear: true,
                changeMonth: true,
                dateFormat: ("yy-mm-dd")

            });

            $("#fileInput").change(function () {
                console.log($(this).val());
                nLista = $(this).val().split(".");
                nPuntos = nLista.length-1; 
                console.log(nLista[nPuntos]);
                if ((nLista[nPuntos] != "jpg") && (nLista[nPuntos] != "png") && (nLista[nPuntos] != "jpeg")) {
                    $(this).val("");
                    $(this).removeClass("text-success").addClass("text-danger");
                } else {
                    $(this).removeClass("text-danger").addClass("text-success");
                }

            });
        });
    </script>

    }