﻿@model  List<BibliotecaWeb.Models.TableViewModels.LibroTableViewModel>
@{
    ViewBag.Title = "Consultar libros";
    int tipoS = ((int)Session["userActivoTipo"]);

    if (tipoS == 2)
    {
        Layout = "~/Views/Shared/LayoutLector.cshtml";
    }
    else if (tipoS == 1)
    {
        Layout = "~/Views/Shared/LayoutAdministrador.cshtml";
    }

}


<div class="row">
    <h3>Estante de libros</h3>
    <div class="row">

        @foreach (var oLibro in Model)
        {
            if (((tipoS == 2) && (oLibro.Fk_estado_libro != 4)) || (tipoS == 1))
            {
                <div class="card col-md-2" style="width: 25rem;">

                    @{ string portadaI = "~/Img/Portadas/sinPortada.jpg";}
                    @if (oLibro.Portada != "")
                    {
                        portadaI = "~/Img/Portadas/" + oLibro.Portada;

                    }

                    <img src="@Url.Content(portadaI)" class="card-img-top" style="margin-left: 18%; width:50%">
                    <div class="card-body">
                        <h5 class="card-title">@oLibro.Nombre</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h5><strong>Autor:</strong></h5>
                                <p>
                                    @oLibro.Autor
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h5><strong>Descripcion:</strong></h5>
                                <p>
                                    @oLibro.Observacion
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h5><strong>Generos literarios:</strong></h5>
                                <p>
                                    @{ var lGenero = ""; }

                                    @for (int i = 0; i < oLibro.generosLiterarios.Count; i++)
                                    {
                                        if (i == 0)
                                        {
                                            lGenero += oLibro.generosLiterarios[i];
                                        }
                                        else
                                        {
                                            lGenero += ", " + oLibro.generosLiterarios[i];
                                        }
                                    }
                                    @lGenero
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        @if (tipoS == 1)
                        {
                            <button id="@oLibro.Id_libro" class="btn btn-info btnModificar">Modificar</button>
                            <button id="@oLibro.Id_libro" class="btn btn-danger btnEliminar">Eliminar</button>
                        }
                    </div>
                </div>
            }
        }
    </div>

    <div class="col-md-12">
        <button class="btn btn-success" id="btnAgregar">Agregar</button>

    </div>

</div>


<div class="modal fade" id="basicModal1" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Eliminar libro</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <label for="Enombre">Nombre</label>
                        <input id="Enombre" class="form-control" />
                    </div>
                    <div class="col-md-8">
                        <label for="Etelefono">Telefono</label>
                        <input id="Etelefono" class="form-control" />
                    </div>
                    <div class="col-md-8">
                        <label for="Ecorreo">Correo</label>
                        <textarea id="Ecorreo" class="form-control"> </textarea>
                    </div>
                    <div class="col-md-8">
                        <label for="Edirrecion">Dirrecion</label>
                        <textarea id="Edirrecion" class="form-control"> </textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" id="btnEliminar">Eliminar editorial</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            console.log(":v");
            $("#btnAgregar").click(function () {
                document.location = '';
                document.location = '@Url.Content("~/Libros/add")';
            });
        });
    </script>
}