﻿@model BibliotecaWeb.Models.TableViewModels.GeneroLiterarioTableViewModel
@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/LayoutAdministrador.cshtml";
}


<div class="row"> 
    <div class="col-md-12">

        @using (Html.BeginForm("Add", "Genero", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken();
                <h3>Agregar genero literario</h3>
            <div class="col-md-7">
                @Html.LabelFor(l => l.Nombre)
                @Html.TextBoxFor(l => l.Nombre, new { @class = "form-control text-danger" })
                @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
            </div>

            <div class="col-md-7">
                @Html.LabelFor(l => l.Descripcion)
                @Html.TextAreaFor(l => l.Descripcion, new { @class = "form-control text-danger" })
                @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
            </div>
            <div class="col-md-7">
                <br>
                <button type="submit" class="btn btn-success"> Agregar genero literario</button>
            </div>
        }
    </div> 
</div>

