﻿@model  List<BibliotecaWeb.Models.TableViewModels.GeneroLiterarioTableViewModel>
@{
    ViewBag.Title = "Consultar generos";
    Layout = "~/Views/Shared/LayoutAdministrador.cshtml";
}


<div class="row">
    <div class="col-md-12" id="DivConsultar">
        <table class="table table-hover">
            <thead>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Editar</th>
            <th>Eliminar</th>
            </thead>
            <tbody>
                @foreach (var dateG in Model)
                {
                    <tr>
                        <td>@dateG.Nombre</td>
                        <td>@dateG.Descripcion</td>
                        <td><button class="btn btn-info modificar" id="@dateG.Id_Genero">Modificar</button></td>
                        <td><button class="btn btn-danger eliminar" id="@dateG.Id_Genero">Eliminar</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <button id="btnAgregar" class="btn btn-success">Agregar</button>
    </div>

    

    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Modificar genero literario</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="Mnombre">Nombre</label>
                            <input id="Mnombre" class="form-control" />
                        </div>
                        <div class="col-md-10">
                            <label for="MDescripcion">Descripcion</label>
                            <textarea id="MDescripcion" class="form-control"> </textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" id="btnActualizar">Actualizar genero</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="basicModal1" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar genero literario</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="EMnombre">Nombre</label>
                            <input id="EMnombre" class="form-control" disabled/>
                        </div>
                        <div class="col-md-10">
                            <label for="EMDescripcion">Descripcion</label>
                            <textarea id="EMDescripcion" class="form-control" disabled> </textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger" id="btnEliminar">Eliminar genero</button>
                </div>
            </div>
        </div>
    </div>



</div>
@section scripts{
    <script>
        $(document).ready(function () {
            console.log(":v");
            $("#btnAgregar").click(function () {
                document.location = '@Url.Content("~/Genero/Add")';
            })

            var mGenero = 0;
            $(document).on('click', '.modificar', function (e) {

                mGenero = $(this).attr('id');
                $("#basicModal").modal("toggle"); 
                var dGenero = $(this).parents("tr").find("td");
                console.log(dGenero);
                $("#Mnombre").val(dGenero[0].textContent);
                $("#MDescripcion").val(dGenero[1].textContent);
            });

            $("#btnActualizar").click(function () {

                var json = {
                    NGenero: mGenero,
                    nombre: $("#Mnombre").val(),
                    descripcion: $("#MDescripcion").val()
                }

                $.ajax({
                    url:  '@Url.Content("~/Genero/Update")',
                    dataType: "JSON",
                    type: "POST",
                    data: json,
                    success: function (data) {
                        if (data == "1") {
                            alert("Se actualizo el genero literario");

                        } else {
                            alert("No se actualizo el genero literario");
                        }

                        document.location = '@Url.Content("~/Genero/ConsultGenero")';
                    }
                });
            });

            var EGenero = 0;
            $(document).on('click', '.eliminar', function (e) {
                EGenero = $(this).attr('id');
                var edGenero = $(this).parents("tr").find("td");
                $("#basicModal1").modal("toggle"); 
                $("#EMnombre").val(edGenero[0].textContent);
                $("#EMDescripcion").val(edGenero[1].textContent);
            });

            $("#btnEliminar").click(function () {
                     var json = {
                         NGenero: EGenero, 
                }

                $.ajax({
                    url: '@Url.Content("~/Genero/Delete")',
                    dataType: "JSON",
                    type: "POST",
                    data: json,
                    success: function (data) {
                        if (data == "1") {
                            alert("Se elimino el genero literario");

                        } else {
                            alert("No se elimino el genero literario");
                        }

                        document.location = '@Url.Content("~/Genero/ConsultGenero")';
                    }
                });
            });  

        });
    </script>
}





