﻿@model BibliotecaWeb.Models.ViewModels.UserViewModel
@{
    ViewBag.Title = "Index"; 
}

<div class="row">
    <div class="col-md-6 center-block">
        <h3> Inicio de session</h3>
        @using (Html.BeginForm("Ingresar", "Access", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationMessage("error", new { @class = "text-danger" })

            <div class="col-md-10">
                @Html.LabelFor(d => d.Correo)
                @Html.TextBoxFor(d => d.Correo, new { @class = "text-danger form-control" })
                @Html.ValidationMessage("correo_electronico", new { @class = "text-danger" })
            </div> 
              
            <div class="col-md-10">
                @Html.LabelFor(d => d.Contrasena)
                @Html.PasswordFor(d => d.Contrasena, new { @class = "text-danger form-control" })
                @Html.ValidationMessage("contrasena", new { @class = "text-danger" })
            </div>


            if (Model != null)
            {
                if (Model.estado == true)
                {
                    <div class="col-md-10">
                        <p class="text-danger">Error el usuario y la contraseña no coinciden</p>
                    </div>
                }
            }

            <div class="col-md-10">
                <br />
                <button class="btn btn-primary" type="submit">Ingresar</button>
            </div>

        }
    </div>
</div>
