﻿@model BibliotecaWeb.Models.ViewModels.EditorialViewModel
@{
    ViewBag.Title = "Agregar";
    int tipoS = ((int)Session["userActivoTipo"]);

    if (tipoS == 2)
    {
        Layout = "~/Views/Shared/LayoutLector.cshtml";
    }
    else if (tipoS == 1)
    {
        Layout = "~/Views/Shared/LayoutAdministrador.cshtml";
    }
}
<div class="row">
    <div class="col-md-10" id="divAgregar">

        @using (Html.BeginForm("Add", "Editorial", FormMethod.Post, new { role = "form" }))
        {

            @Html.AntiForgeryToken();
            <h3>Agregar editorial</h3>
            <div class="col-md-12">
                @Html.LabelFor(l => l.Nombre)
                @Html.TextBoxFor(l => l.Nombre, new { @class = "text-danger form-control" })
                @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
            </div>

            <div class="col-md-12">
                @Html.LabelFor(l => l.Telefono)
                @Html.TextBoxFor(l => l.Telefono, new { @class = "text-danger form-control" })
                @Html.ValidationMessage("Telefono", new { @class = "text-danger" })
            </div>

            <div class="col-md-12">
                @Html.LabelFor(l => l.Correo)
                @Html.TextBoxFor(l => l.Correo, new { @class = "text-danger form-control" })
                @Html.ValidationMessage("Correo", new { @class = "text-danger" })
            </div>

            <div class="col-md-12">
                @Html.LabelFor(l => l.Dirrecion)
                @Html.TextBoxFor(l => l.Dirrecion, new { @class = "text-danger form-control" })
                @Html.ValidationMessage("Dirrecion", new { @class = "text-danger" })
            </div> 
            <div class="col-md-12">
                <br />
                <button class="btn btn-success " type="submit">Agregar</button>
            </div>
        }

    </div> 
</div>




