﻿@model List<BibliotecaWeb.Models.TableViewModels.EditorialTableViewModel>
@{
    ViewBag.Title = "Consultar";
    int tipoS = ((int)Session["userActivoTipo"]);

    if (tipoS == 2)
    {
        Layout = "~/Views/Shared/LayoutLector.cshtml";
    }
    else if (tipoS == 1)
    {
        Layout = "~/Views/Shared/LayoutAdministrador.cshtml";
    }
}

<div class="row">

    <div class="col-md-10" id="consulta">

        <table class="table table-hover" >
            <thead>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Dirrecion</th>
            <th>Editar</th>
            <th>Eliminar</th>
            </thead>
            <tbody>
                @{
                    foreach (var editorial in Model)
                    {
                        <tr>
                            <td>@editorial.Nombre</td>
                            <td>@editorial.Telefono</td>
                            <td>@editorial.Correo</td>
                            <td>@editorial.Dirrecion</td>
                            <td><button class="btn btn-info editar" id="@editorial.Id_editorial">Editar</button></td>
                            <td><button class="btn btn-danger eliminar" id="@editorial.Id_editorial">Eliminar</button></td>
                        </tr>
                    }
                }

            </tbody>

        </table>

    </div>

    <div class="col-md-10">
        <button id="btnAgregar" class="btn btn-success">Agregar editorial</button>
    </div>
    <div id="modals">

        <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Modificar editorial</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-8">
                                <label for="Mnombre">Nombre</label>
                                <input id="Mnombre" class="form-control" />
                            </div>
                            <div class="col-md-8">
                                <label for="Mtelefono">Telefono</label>
                                <input id="Mtelefono" class="form-control" />
                            </div>
                            <div class="col-md-8">
                                <label for="Mcorreo">Correo</label>
                                <textarea id="Mcorreo" class="form-control"> </textarea>
                            </div>
                            <div class="col-md-8">
                                <label for="Mdirrecion">Dirrecion</label>
                                <textarea id="Mdirrecion" class="form-control"> </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-info" id="btnActualizar">Actualizar autor</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="basicModal1" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Eliminar editorial</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-8">
                                <label for="Enombre">Nombre</label>
                                <input id="Enombre" class="form-control" />
                            </div>
                            <div class="col-md-8">
                                <label for="Etelefono">Telefono</label>
                                <input id="Etelefono" class="form-control" />
                            </div>
                            <div class="col-md-8">
                                <label for="Ecorreo">Correo</label>
                                <textarea id="Ecorreo" class="form-control"> </textarea>
                            </div>
                            <div class="col-md-8">
                                <label for="Edirrecion">Dirrecion</label>
                                <textarea id="Edirrecion" class="form-control"> </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-danger" id="btnEliminar">Eliminar editorial</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    @section scripts{
        <script>
            $(document).ready(function(){
                console.log(":v");

                $("#btnAgregar").click(function () {
                    document.location = "@Url.Content("~/Editorial/Add")";
                });

                idEditorialM = 0;
                $(document).on('click', '.editar', function (e) {
                    idEditorialM = $(this).attr("id");
                    $("#basicModal").modal("toggle");

                    valor = $(this).parents("tr").find("td");

                    console.log(valor);
                    console.log($("#Mnombre"));
                    $("#Mnombre").val(valor[0].textContent);
                    $("#Mtelefono").val(valor[1].textContent);
                    $("#Mcorreo").val(valor[2].textContent);
                    $("#Mdirrecion").val(valor[3].textContent);
                });


                $("#btnActualizar").click(function () {
                    var ejson = {
                        nEditorial: idEditorialM,
                        nombre: $("#Mnombre").val(),
                        telefono: $("#Mtelefono").val(),
                        correo: $("#Mcorreo").val(),
                        dirrecion: $("#Mdirrecion").val()
                    };
                    $.ajax({
                        url: "@Url.Content("~/Editorial/Edit")",
                        type: "POST",
                        datatype: "json",
                        data: ejson,
                        success: function (data) {
                            if (data==1) {
                                alert("Se ha realizado la modificacion");
                            }

                            document.location = "@Url.Content("~/Editorial/Consult")";
                        }
                    });
                });

                // eliminar
                idEditorial = 0;
                 $(document).on('click', '.eliminar', function (e) {
                     idEditorial = $(this).attr('id');
                     $("#basicModal1").modal("toggle");
                     valor = $(this).parents("tr").find("td");
                     $("#Enombre").val(valor[0].textContent);
                     $("#Etelefono").val(valor[1].textContent);
                     $("#Ecorreo").val(valor[2].textContent);
                     $("#Edirrecion").val(valor[3].textContent);
                });

                $("#btnEliminar").click(function () {
                    var ejson = {
                        nEditorial: idEditorial
                    };
                    $.ajax({
                        url: "@Url.Content("~/Editorial/Delete")",
                        type: "POST",
                        datatype: "json",
                        data: ejson,
                        success: function (data) {
                            if (data==1) {
                                alert("Se ha realizado la eliminacion");
                            }
                            document.location = "@Url.Content("~/Editorial/Consult")";
                        }
                    });
                });
            });
        </script>

    }
</div>



