﻿@model  List < System.Web.Mvc.JsonResult>
    @{
        ViewBag.Title = "DaPrueba";
    }

    <h2>DaPrueba</h2>



@{

    foreach (var item in Model)
    {
    <label>item</label>

        Console.WriteLine(item);
    }

 }