﻿@model BibliotecaWeb.Models.ViewModels.AutorViewModel
@{
    ViewBag.Title = "Agregar autor";
    Layout = "~/Views/Shared/LayoutAdministrador.cshtml";
}
<div class="row">
    <div class="col-md-10">
        @using (Html.BeginForm("Add", "Autor", FormMethod.Post, new { role = "form" }))
        {
            <h3>Agregar Autor</h3>

            <div class="col-md-6">
                @Html.LabelFor(l => l.Nombre)
                @Html.TextBoxFor(l => l.Nombre, new { @class = "text-danger form-control" })
                @Html.ValidationMessage("Nombre del autor", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.LabelFor(l => l.FechaNacimiento)
                @Html.TextBoxFor(l => l.FechaNacimiento, new { @class = "text-danger datePicker form-control" })
                @Html.ValidationMessage("Fecha de nacimiento", new { @class = "text-danger"});
            </div>
            <div class="col-md-6">
                @Html.LabelFor(l => l.Descripcion)
                @Html.TextAreaFor(l => l.Descripcion, new { @class = "text-danger form-control" })
                @Html.ValidationMessage("Descripcion", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <button class="btn btn-success">Agregar autor</button>
            </div>

       

        }
    </div>

    @section scripts{
        <script>
            $(document).ready(function () {
                console.log(":v");
                $(".datePicker").datepicker({
                    changeYear: true,
                    changeMonth: true,
                    dateFormat:("yy-mm-dd")
                    
                });
            });
        </script>
    }
</div>

