﻿@model List<BibliotecaWeb.Models.TableViewModels.AutorTableViewModel>
@{
    ViewBag.Title = "Autor";

    int tipoS = ((int)Session["userActivoTipo"]);
    if (tipoS == 1){
        Layout = "~/Views/Shared/LayoutAdministrador.cshtml";
    }
}

<div class="row">
    <h2>Autor</h2>
    <div class="col-m-10" id="consulta">
        <table class="table table-hover">
            <thead>
            <th>Autor</th>
            <th>N° Libros</th>
            <th>Fecha de nacimiento</th>
            <th>Descripcion</th>
            <th>Editar</th>
            <th>Eliminar</th>
            </thead>
            <tbody>
                @{
                    foreach (var oAutor in Model)
                    {
                        <tr>
                            <td>@oAutor.Nombre</td>
                            <td>@oAutor.N_Libros</td>
                            <td>@oAutor.Fecha_nacimiento</td>
                            <td>@oAutor.Descripcion</td>
                            <td><button id="@oAutor.Id_autor" class="btn btn-info editar">Editar</button></td>
                            <td><button id="@oAutor.Id_autor" class="btn btn-danger eliminar">Eliminar</button></td>
                        </tr>

                    }
                }
            </tbody>
        </table>

    </div>

    <div class="modal fade" id="basicModal1" tabindex="-1" role="dialog" aria-labelledby="basicModal1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><strong>Eliminar autor</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="Enombre">Nombre</label>
                            <input id="Enombre" class="form-control" />
                        </div>
                        <div class="col-md-8">
                            <label for="EFechaNacimiento">Fecha de nacimiento</label>
                            <input id="EFechaNacimiento" class="form-control" />
                        </div>
                        <div class="col-md-10">
                            <label for="EDescripcion">Descripcion</label>
                            <textarea id="EDescripcion" class="form-control"> </textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger" id="btnEliminar">Eliminar autor</button>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Modificar autor</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="Mnombre">Nombre</label>
                            <input id="Mnombre" class="form-control" />
                        </div>
                        <div class="col-md-8">
                            <label for="MFechaNacimiento">Fecha de nacimiento</label>
                            <input id="MFechaNacimiento" class="form-control" />
                        </div>
                        <div class="col-md-10">
                            <label for="MDescripcion">Descripcion</label>
                            <textarea id="MDescripcion" class="form-control"> </textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-info" id="btnActualizar">Actualizar autor</button>
                </div>
            </div>
        </div>
    </div>



    <div>
        <button id="agregarAutor" class="btn btn-success">Agregar autor</button>
    </div>


    @section scripts{
        <script>
            $(document).ready(function () {
                console.log(":v");
                var autor = 0;
                $(document).on('click', '.editar', function (e) {
                    $("#basicModal").modal("toggle");
                    autor = $(this).attr("id");
                    valores = $(this).parents("tr").find("td");
                    $("#Mnombre").val(valores[0].textContent);
                    $("#MFechaNacimiento").val(valores[2].textContent);
                    $("#MDescripcion").val(valores[3].textContent);
                });


                $("#agregarAutor").click(function () {
                    document.location = '@Url.Content("~/Autor/Add")';
                });

                $("#btnActualizar").click(function () {
                    var json = {
                        autor: autor,
                        nombre:  $("#Mnombre").val(),
                        fechaNacimiento:$("#MFechaNacimiento").val(),
                        descripcion:$("#MDescripcion").val()
                    }
                    $.ajax({
                        url: "@Url.Content("~/Autor/Edit")",
                        datatype: "json",
                        data: json,
                        success: function (data) {
                            console.log("Success");
                            console.log(data);
                            if (data == 1) {
                                alert("Se ha realizado la actualizacion");
                                document.location = '@Url.Content("~/Autor/Autor")';
                            }
                        }
                    });
                });


                var autorE = 0;
                $(document).on('click', '.eliminar', function (e) {
                    autorE = $(this).attr('id');
                    $("#basicModal1").modal("toggle"); 
                    valores = $(this).parents("tr").find("td");
                    $("#Enombre").val(valores[0].textContent);
                    $("#EFechaNacimiento").val(valores[2].textContent);
                    $("#EDescripcion").val(valores[3].textContent);
                });

                $("#btnEliminar").click(function () {
                     var json = {
                         autor: autorE
                    }
                    $.ajax({
                        url: "@Url.Content("~/Autor/Delete")",
                        datatype: "json",
                        data: json,
                        success: function (data) {
                            if (data == "1") {
                                alert("Se ha realizado la eliminacion del autor...");
                            } else {
                                alert("Se produjo un error...");
                            }
                            document.location = "@Url.Content("~/Autor/Autor")";
                        }
                    });
                });

            });
        </script>
    }
</div>